// Colours

$color-button: #F16718;
$color-hover: #FF9B62;

$color-heading: #162542;
$color-text: #7B8BAD;

$color-pre-order: #E8EFF2;

// Typography

h1 {
    line-height: 3.5rem;
    letter-spacing: 0;
    color: $color-heading;
    text-transform: uppercase;
    font: {
        weight: 900;
        size: 3.5rem;
    }
}
h2, h3 {
    line-height: 1.625rem;
    letter-spacing: 0;
    color: $color-heading;
    text-transform: uppercase;
    font: {
        weight: 900;
        size: 2rem
    }
}

h3 {
    font-size: 1.5rem;
}
p, a {
    line-height: 1.625rem;
    letter-spacing: 0;
    color: $color-text;
    font: {
        weight: 500;
        size: 1rem
    }
}

a {
    text-transform: uppercase;
}

// Mobile view

body {
    font: {
        family: 'Barlow', sans-serif;
        size: 1rem;
        max-width: 93.75rem
    }
    margin: 0;
    padding: 1.5rem;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    
    & .pre-order {
        color: $color-heading;
        font-weight: 900;
        padding: .6875rem .875rem;
        text-decoration: none;
        background-color: $color-pre-order;
        border-radius: 8px;
        &:hover {
            background-color: #162542;
            color: #FFF;
        }
    }

    & img {
        border-radius: 0;
    }
}

.push-down {
    margin-top: 1.45rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.second-pre-order {
    background-color: $color-button;
    padding: .6875rem .875rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border-radius: .5rem;
    flex: 0 0 auto;
    &:hover {
        background-color: #FF9B62;
    }
}

.keyboard {
    text-align: center;
}

.image-1 {
    transform: translate(40px);
    height: auto;
}

.square {
    display: none;
}

.square2 {
    display: none;
}

.image-2 {
   padding-right: 1.5rem;
}

.header-text {
    padding-bottom: 2rem;
}

.images {
    display: flex;
    margin-top: 1.5rem;
    transform: translateX(-45px);
}

.ok {
    background-color: #F16718;
}

.description {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    display: block;
}

.description-hidden {
    display: none;
}

.advantages {
    & section div:nth-child(1) {
    background-color: #F16718;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 1rem;
    }
}

.advantages {
    & section {
    margin-bottom: 4rem;
    }
}

article {
    text-align: center;
}

footer {
    margin-top: 5.5rem;
    text-align: center;
}

// Tablet view

@media (min-width: 48rem) {
    body {
        padding: 2.4375rem;
    }
    .keyboard {
        display: flex;
        gap: 100px;
        justify-content: space-between;
    }
    .hero {
        text-align: left;
        border-right: #F16718;
    }

    .image-1 {
        min-width: 28.125rem;
        min-height: 25rem;
    }

    .images {
        transform: translateX(0);
    }
    .advantages {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        justify-content: center;
        & article {
            max-width: 17.5625rem;
            text-align: left;
        }
        & section div:nth-child(1) {
            margin: 0;
        }
    }

    .description-hidden {
        display: none;
    }

    .description {
        text-align: left;
        display: flex;
        gap: 6.25rem;
        & h2 {
            font-size: 2rem;
        }
        & p {
            width: auto;
            max-width: 43rem;
        }
    }
}

// Desktop view

@media (min-width: 88.125rem) {
    body {
        padding-left: 10.3125rem;
        padding-right: 10.3125rem;
        overflow-x: hidden;
    }

    .image-1 {
        transform: translateX(0);
    }

    .advantages {
        & article {
            max-width: 15.9375rem;
            text-align: left;
        }
    }

    .square {
        position: absolute;
        display: inline;
        right: 0;
        transform: translateX(127.5px);
    }

    .square2 {
        position: absolute;
        display: inline;
        bottom: 0;
        left: 0;
        transform: translateX(-296.5px);
    }

    .description-hidden {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 10px;
        padding-left: 7.8125rem;
        max-width: 23.75rem;
        & h2 {
            line-height: 36px;
            font-size: 2rem;
        }
        & p {
            margin: 0;
        }
    }

    .description {
        display: none;
    }

    .advantages {
        padding-top: 10rem;
    }
}
